<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miragesw.watermore">

    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/watermoreicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/watermoreicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Watermore">
        <activity android:name=".SliderActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9349705227439488~5211430390" />

        <activity android:name=".settings" />
        <activity android:name=".Donate" />
        <activity android:name=".AboutUs" />
        <activity
            android:name=".FullscreenSplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Watermore"
            android:theme="@style/Theme.Watermore.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GraphicActivity" />
        <activity android:name=".ReminderScreen" />
        <activity android:name=".HealthStats" />
        <activity
            android:name=".usernamesPop"
            android:theme="@style/PopMe" />
        <activity
            android:name=".AddWaterPopScreen"
            android:theme="@style/PopMe" />
        <activity
            android:name=".MainPage"
            android:launchMode="singleTask" />
        <activity android:name=".LauncherActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".utils.MyNotificationPublisher" />
    </application>

</manifest>